.print {
  padding-bottom: 200px;
}
.plate {
  margin-bottom: 20px;
  background: #fff;
  text-align: center;
  padding: 30px;
  &-title {
    padding: 0 20px;
    background: #f3f3f3;
    height: 100px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }
  &-explain {
    color: $global-red;
  }
  &-info {
    background: #fff;
    display: flex;
    height: 240px;
    align-items: center;
    &__item {
      flex: 1;
      text-align: center;
      &-title {
        font-size: 24px;
        margin-bottom: 20px;
      }
      &-num {
        font-size: 32px;
        font-weight: 600;
      }
    }
  }
  &-option {
    display: flex;
    height: 120px;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    padding: 0 20px;
    &:not(:last-child) {
      border-bottom: 2px solid $global-line-gray;
    }
    &__title {
      color: $global-text-gray-b;
      &-name {
        font-size: 32px;
        font-weight: 600;
        // margin-bottom: 10px;
        color: $global-black;
      }
    }
    &__num {
      font-size: 28px;
      // font-weight: 600;
    }
    &__btn {
      background: #47cfca;
      color: #fff;
      width: 140px;
      text-align: center;
      line-height: 45px;
      border-radius: 4px;
      font-size: 24px;
    }
  }
}
.page-btn {
  position: fixed;
  width: 400px;
  height: 80px;
  line-height: 80px;
  border-radius: 40px;
  left: 50%;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  bottom: 60px;
  text-align: center;
  transform: translateX(-50%);
  background: $global-green;
}
