
.print-option {
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  background: #fff;
  padding: 0 30px;
  &:not(:last-child) {
    border-bottom: 2px solid $global-line-gray;
  }
}
.page-btn {
  // position: fixed;
  width: 90%;
  height: 90px;
  line-height: 90px;
  border-radius: 4px;
  // left: 50%;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  // bottom: 60px;
  text-align: center;
  margin-top: 120px;
  // transform: translateX(-50%);
  background: linear-gradient(#a1ffed, #4ed3cd);
  &::after {
    border: none;
  }
}
